<p>Form value -- {{ userForm.value | json }}</p>
<p>User value -- {{ user | json }}</p>

<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="card card-block">
  <div class="form-group">
    <label>
      <span>Full name</span>
      <input
        class="form-control"
        type="text"
        placeholder="Your full name"
        formControlName="name">
    </label>
    <div *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched" class="error">
      Name is required
    </div>
    <div *ngIf="userForm.get('name').hasError('minlength') && userForm.get('name').dirty" class="error">
      Minimum of 2 characters
    </div>
  </div>
  <div class="form-group">
    <label>
      <span>Email</span>
      <input
        class="form-control"
        type="text"
        placeholder="Your email"
        formControlName="email">
    </label>
    <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="error">
      Email is required
    </div>
    <div *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email').dirty" class="error">
      Email value is wrong
    </div>
  </div>
  <div class="form-group">
    <label>
      <span>Confirm Email</span>
      <input
        class="form-control"
        type="text"
        placeholder="Confirm email"
        formControlName="confirm">
    </label>
    <div *ngIf="userForm.get('confirm').hasError('required') && userForm.get('confirm').touched" class="error">
      Confirm email is required
    </div>
    <div *ngIf="userForm.get('confirm').hasError('pattern') && userForm.get('confirm').dirty" class="error">
      Confirm email value is wrong
    </div>
    <div *ngIf="userForm.hasError('nomatch') && userForm.get('confirm').touched" class="error">
      Emails don't match
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Sign up</button>

</form>
